.about {
  padding-top: 338px;
  padding-bottom: 120px;

  @media screen and (max-width: 768px) {
    padding-top: 183px;
    padding-bottom: 20px;
  }
}

.about__container {
  width: min(1286px, 100%);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.about__title {
  margin-bottom: 42px;
  font-size: 64px;
  line-height: 105%;
  text-transform: uppercase;
  color: var(--blue);
  text-align: center;
  translate: -78px 0;

  @media screen and (max-width: 768px) {
    position: absolute;
    top: 480px;
    z-index: 2;
    left: 30px;
    translate: 0;
    font-size: 36px;
    color: #fff;
  }
}

.about__wrap {
  min-height: 585px;
  padding: 64px 60px;
  background-color: #f00;
  display: flex;
  gap: 49px;
  position: relative;

  @media screen and (max-width: 768px) {
    min-height: 880px;
    flex-direction: column;
    padding: 20px 30px;
  }
  @media screen and (max-width: 360px) {
    min-height: 920px;
  }

  &:after {
    content: "";
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    top: 10px;
    left: 10px;
    border: 6px solid #fff;
  }
}

.about__img {
  min-width: 384px;
  @media screen and (max-width: 1280px) {
    min-width: 220px;
  }
  @media screen and (max-width: 768px) {
    min-width: auto;
    min-height: 446px;
  }

  img {
    position: absolute;
    top: -227px;
    z-index: 2;

    @media screen and (max-width: 1280px) {
      top: -86px;
      left: -20px;
      scale: 0.7;
    }
    @media screen and (max-width: 768px) {
      scale: 1;
      top: -133px;
      left: 50%;
      translate: -50% 0;
    }
  }
}

.about__text {
  position: relative;
  z-index: 2;
}

.about__description {
  max-width: 681px;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;

  @media screen and (max-width: 1280px) {
    font-style: 24px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 12px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
  }
}

.about__signature {
  margin-top: 100px;
  padding-left: 184px;
  position: relative;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    padding-left: 0;
    font-size: 12px;
  }

  span {
    display: block;

    &:last-of-type {
      font-size: 32px;
      line-height: 120%;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
  }

  img {
    position: absolute;
    left: 0px;
    top: -74px;
    @media screen and (max-width: 768px) {
      scale: 0.7;
    }
  }
}

.about__quote {
  position: absolute;
  bottom: 26px;
  right: 28px;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
