@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Jockey One", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Inter", sans-serif;

  --blue: #192963;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--black);
  color: #fff;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}
